.title{
    color: violet;
}

/* универсальный
тег
класс
атрибут
потомок
ребенок
соседа
id*/

body {
    font-size: 22px;
}

*{
    color: tomato;
}

#text {
    color: teal;
}

.text {
    color: thistle;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 20px solid teal;
    padding: 20px;
}

[href] {
    color: yellowgreen;
}

a {
    text-decoration: none;
}

ul a {

}

li > a {

}

.item + .item > a {
    color: turquoise;
}

.item {
    background-color: tomato;
}

.item {
    background-color: violet;
}

.item {
    background-color: thistle;
    text-decoration: none;
}
#item {
    background-color: teal;
}

.item-link {
background-color: chocolate;
margin: 20px;
}

.item:last-child {
    background-color: violet;
}
 /* есть еще псевдокласс нот, типа задай всем кроме четных */
.link:hover {
    color: blue;
}

.link:focus{
    color: burlywood;
}

.btn {
    background-color: darkblue;
}

.btn:active {
    background-color: coral;
}

.item:nth-child(3) {
background: yellow;
}

/* :nth-child(an+b - это для нечетных) */
/* :nth-child(an - это для нечетных) */
/* 2*0=0 */
/* 2*1=2 */
/* 2*2=4 */
/* 2*3=6 */

even - нечетные, odd - четные

